
/* ヘッダーここから */
header {
  height: 400px;
}
.main-header {
  height: 50px;
  background-color: green;
  display: flex;
}
.heading {
  display: flex;
  justify-content: space-between;
  width: 30%;
  line-height: 50px;
}
.heading h1 {
  margin-left: 20px;
  font-size: 30px;
}
.search-form {
  width: 40%;
  height: 50px;
}
.search-input {
  width:60%;
  margin-left: 120px;
}
.search-input, .search-btn {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.side-bar {
  display: flex;
  justify-content: space-around;
  width: 70%;
  line-height: 50px;
}
.header-view {
  height: 350px;
}
.language {
  
}
.item-tuika a, .logout a {
  background-color:white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px black;
}

.item-tuika a:active, .logout a:active {
  box-shadow: none;
  position: relative;
  top: 5px;
  left: 5px;
}



/* ヘッダーここまで */

/* メインここから */
main {
  background-color: blueviolet;
  height: 75vh;
}
.title-bar {
  text-align: center;
  display: flex;
  height: 75px;
  border: 1px solid black;
}
.items-title {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.name-title {
  padding-top: 10px;
  
}
.buy-title {
  margin-top: 10px;
}
.limit-title {
  padding-top: 25px;
  width: 20%;
  border-left: 1px solid black;
}
.status-title {
  padding-top: 25px;
  width:20%;
  border-left:1px solid black;
}
.text-title {
  padding: 25px 0 0 0;
  border-left: 1px solid black;
  width: 40%;
}
/* メインヘッダーここまで */

/* メインボディーここから */
.main-contents {
  background-color: blue;
}
.items-lists {
  text-align: center;
  display: flex;
  height: 100px;
  border: 1px solid black;
}
.item-list {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.item-name {
  padding-top: 10px;
  font-size: 30px;
}
.item-name a {
  color: black;
  text-decoration: none;
}
.buy-date {
  margin-top: 10px;
}
.text {
  align-items: center;
  padding: 25px 0 0 0;
  border-left: 1px solid black;
  width: 40%;
}
.limit-date {
  padding-top: 25px;
  width: 20%;
  border-left: 1px solid black;
}
.status {
  padding-top: 25px;
  width:20%;
  border-left:1px solid black;
}
/* メインボディーここまで */
  footer {
    background-color: darkgreen;
  }