<div class="header">
  <p>賞味期限管理アプリ</p>
  <div class="title">
    <h1>Best Before</h1>
  </div>
  <div class="catchcopy">
    <h2>美味しいうちに食べようよ！</h2>
    <h3>Let's talk about food waste!</h3>
  </div>
  <% if user_signed_in? %>
  <div class="move-my-page">
    <h1>welcome to<br>Best Before</h1>
  </div>
  <div class="my-page btn" id="my-page">
    <%= link_to "my page", "/users/#{current_user.id}" %>
  </div>
  <% else %>
  <div class="new-entry">
    <div class="sign-up btn" id="sign-up">
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>
    <div class="login btn" id="login">
      <%= link_to "Log In", new_user_session_path %>
    </div>
  </div>
  <% end %>
</div>
<div class="main">
  <h1 class="contents-title">賞味期限と消費期限を正しく理解しよう♪</h1>
  <div class="contents">
    <h2>賞味期限とは？</h2>
    <p><span>「品質が変わらずに美味しく食べられる期限」</span>のこと。<br>消費期限に比べ、傷みにくい商品に表示されています。<br>この期間を過ぎても、すぐに食べられなくなるわけではありません♪</p>
  </div>
  <div class="contents">
    <h2>消費期限とは？</h2>
    <p><span>「安全に食べられる期限」</span>のこと。<br>主に傷みやすい商品に表示されています。<br>（期限を過ぎたら食べないほうがいいんです！）</p>
  </div>
  <div class="contents">
    <p class="contents-comments">ただし、賞味期限も消費期限も、袋や容器を開けないで、<br>書かれた通りに保存していた場合の安全や美味しさを約束したものです。<br>一度開けてしまった食品は、期限に関わらず早めに食べるようにしましょう。</p>
  </div>
</div>
<div class="footer">
  <p>Takuya Kinoshita Making First Original Application</p>
</div>









